<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.happynetwork.vrestate">

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.easemob.chatuidemo.permission.C2D_MESSAGE" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/ColorTranslucentTheme">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="bd20fa083bd86a0f60ad3f6f6dab0232" />

        <activity
            android:name=".activitys.WelcomeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.happynetwork.common.camera.CameraActivity" />
        <activity android:name=".activitys.MainActivity" />
        <activity android:name=".activitys.NewFriendsMsgActivity" />
        <activity android:name=".activitys.GroupsActivity" />
        <activity android:name=".activitys.PublicChatRoomsActivity" />
        <activity android:name=".activitys.RobotsActivity" />
        <activity android:name=".activitys.ChatActivity" />
        <activity android:name=".activitys.RegActivity" />
        <activity
            android:name=".activitys.SimpleVrVideoActivity"
            android:launchMode="singleTask">
            <intent-filter>

                <!-- Primary intent when launching from the home screen -->
                <category android:name="com.google.intent.category.CARDBOARD" />
            </intent-filter>
        </activity>
        <!-- choose video -->
        <activity
            android:name=".activitys.ImageGridActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activitys.RecorderVideoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <!-- 语音通话 -->
        <activity
            android:name=".activitys.VoiceCallActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/nornal_style" />
        <!-- 视频通话 -->
        <activity
            android:name=".activitys.VideoCallActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <activity
            android:name=".activitys.ShowVideoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activitys.ShowBigImage"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activitys.UserProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <!-- 新建群组 -->
        <activity
            android:name=".activitys.NewGroupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" />
        <!-- 公开的群聊列表 -->
        <activity
            android:name=".activitys.PublicGroupsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" />
        <!-- 群详情 -->
        <activity
            android:name=".activitys.GroupDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <!-- 编辑群信息 -->
        <activity
            android:name=".activitys.GroupInfoEditActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <activity
            android:name=".activitys.PublicGroupsSeachActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        //GroupSimpleDetailActivity
        <activity
            android:name=".activitys.GroupSimpleDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <activity
            android:name=".activitys.GroupMemberActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <activity
            android:name=".activitys.ChatAllHistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        //ContactListActivity
        <activity
            android:name=".activitys.ContactListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        //AddContactActivity
        <activity
            android:name=".activitys.AddContactActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <!-- 开机自启动服务 -->
        <receiver android:name="com.easemob.chat.StartServiceReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />

                <activity android:name=".activitys.GuideActivity" />
                <activity android:name=".activitys.XieYiActivity" />
                <activity
                    android:name=".activitys.UserMainActivity"
                    android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
                <activity android:name=".activitys.CameraActivity" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>

        <!-- gcm start -->
        <receiver
            android:name="com.easemob.chat.EMGCMBroadcastReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.easemob.chatuidemo" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.easemob.chat.EMGCMListenerService"
            android:exported="false" />

        <receiver
            android:name=".receivers.GCMPushBroadCast"
            android:exported="false">
            <intent-filter>
                <action android:name="com.easemob.sdk.push" />

                <category android:name="com.easemob.chatuidemo" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="longwan#longwanmanage" />
        <!-- 声明sdk所需的service -->
        <service android:name="com.easemob.chat.EMChatService" />
        <!-- 声明sdk所需的receiver -->
        <receiver android:name="com.easemob.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <!-- 百度地图所需的service -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        <!-- umeng appkey，可忽略 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="53912a3156240b01a7075ed1" />
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="3ecea51f560650b1ed8a4b99808f52e8" />

        <activity android:name=".activitys.InviteFilterActivity" />
        <activity android:name=".activitys.SettingActivity" />
        <activity android:name=".activitys.InviteActivity" />
        <activity android:name=".activitys.InvitedActivity" />
        <activity android:name=".activitys.InviteScopeActivity" />
        <activity android:name=".activitys.InviteAddressListActivity"></activity>
    </application>

</manifest>